*{
    font-family: 'Open Sans', sans-serif;
}

.header{
    height:100vh;
    background-image: linear-gradient(to top, rgba(77, 48, 6, 0.986) 0%, rgba(251, 194, 235, 0.4) 100%),url(./components/login/wallpaper.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
    background-position:center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login{
    width: 50vh;
    height: 50vh;
    background-color: rgba(255, 255, 255, 0.733);
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.9);
    border-radius: 20px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s linear;
}

.login>h1{
    font-family:  'Open Sans' !important;
    margin: 0;
}

.App-logo {
    height: 10vmin;
    pointer-events: none;
    margin: 10px;
}

.navbar-logo{
    height: 6vmin;
}

nav{
    box-shadow: 0px 0px 25px rgba(58, 43, 1, 0.966);
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
}

@keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
}

.login:hover {
    transform: scale(1.01);
}

.footer-login{
    position: absolute;
    bottom: 0%;
    color: rgba(255, 255, 255, 0.418);
    cursor: pointer;
}
.footer-login>a{
    color: rgba(255, 255, 255, 0.418);
    text-decoration: none;
}

.login-button {
    width: 150px;
    height: 40px;
    border-radius:10px !important;
    color: rgb(255, 255, 255);
    background-color:rgb(109, 50, 15);
    border: none !important;
    font-size: 23px;
    transition: all 0.3s linear;
}

.login-button:hover {
    background-color: rgb(255, 255, 255);
    color:rgb(109, 50, 15);
}

.content-cards{ 
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.my-card {
    min-width: 260px;
    max-width: 350px;
    max-height: 75vh;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    position: relative;
    cursor: pointer;
}
 
.my-card img {
    transition: all 0.15s linear;
    position: relative;
    top: -15%;
    left: -25%;
    filter: brightness(60%);
}
 
.my-card .profile-name {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 25px;
    font-weight: bold;
    color: #FFF;
    padding: 15px 20px;
    transition: all 0.15s linear;
}
 
.my-card .profile-position {
    position: absolute;
    color: rgba(255, 255, 255, 0.596);
    left: 30px;
    top: 60px;
    transition: all 0.15s linear;
}
 
.my-card .profile-overview {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.4) 50%, rgba(255, 255, 0, 0));
    color: #FFF;
    padding: 50px 0px 40px 0px;
    transition: all 0.15s linear;
}
 
.my-card .profile-overview h3 {
    font-weight: bold;
    font-size: large;
    padding-left: 25px;
}
 
.my-card .profile-overview p {
    color: rgba(255, 255, 255, 0.7);
    padding-left: 25px;
    padding-right: 25px;
}
 
.my-card:hover .profile-name {
    padding-left: 25px;
}
 
.my-card:hover .profile-position {
    left: 40px;
}
 
.my-card:hover .profile-overview {
    padding-bottom: 25px;
}
 
.my-card img:hover {
    transform: scale(1.01);
}

.container-heroe, .container-heroe-search{
    width: 100%;
    display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin:0 auto;
    margin-top: 50px !important;
}



.container-img{
    width: 25%;
    min-width: 460px;
    max-width: 550px;
    max-height: 85vh;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.7);
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

.container-img img{
    transition: all 0.15s linear;
    border-radius:10px;
}
.container-img img:hover {
    transform: scale(1.01);
}

.mibutton{
    float: right;
}

.container-info{
    width: 50%;
    margin: 20px;
}

.container-info h3,h5{
    color:rgb(80, 12, 51);
    font-weight:500;
}

.container-info>h3{
    font-size:30px;
    text-align: center;
}

.title{
    color:rgb(80, 12, 51);
    text-align: center;
    font-size:40px;
    font-weight:100;
}

.container-search{
    width: 25%;
}
.container-imgs-search{
    width: 70%;
}
@media screen and (max-width:400px){

    
    .container-img{
        min-width: 360px;
        max-width: 450px;
        max-height: 75vh;
        margin-bottom: 10px;
        border-radius: 5px;
        box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
        overflow: hidden;
        position: relative;
        cursor: pointer;
    }

    .container-img img{
        position: relative;
        top: -15%;
        left: -25%;
    }

    .container-info{
        width: 100%;
        margin: 0px;
        margin-bottom: 30px;
    }

    .container-search{
        width: 100%;
    }
    .container-imgs-search{
        width: 100%;
        margin: 30px;
    }

    .login{
        width: 45vh;
        height: 73vh;
        background-color: rgba(255, 255, 255, 0.507);
    }

    
    .login>h1{
        font-size: 50px;
        font-weight: 300;
    }
    .App-logo {
        height: 30vmin;
        margin: 20px;
    }

    .login-button {
        width: 250px;
        height: 50px;
    }

    .footer-login{
        position: absolute;
        bottom: 0%;
        margin:0px !important;
    }
    .navbar-logo{
        height: 10vmin;
        margin:0 !important;
        margin-right:0;
    }
}