.cartas{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.card{
    width: 23% !important;
}

/*Responsive*/
@media screen and (max-width:900px){
    .card{
        width: 32% !important;
    }
}

@media screen and (max-width:700px){
    .card{
        width: 49% !important;
    }
}

@media screen and (max-width:600px){
    .card{
        width: 98% !important;
    }
}